@charset "UTF-8";
/*Sert a faire un degrader pour le fond de la page*/
body, html {
  background-color: #6d0a0a; 
}
form{
  color: lightgrey;
}
/* Menu cache sur les grands ecrans */
nav > input, .nav-button {
  display: none; }

/* style de petit ecran/mobile */
@media (max-width: 767px) {
  .nav-inner {
    position: absolute;
    width: 70vw;
    transform: translateX(-100%) translateZ(0);
    transition: transform .2s;
    will-change: transform; }

  /* Effet glissement du menu */
  input:checked ~ .nav-inner {
    transform: translateX(0); }

  /* Bouton menu mobile */
  .nav-button {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    height: 3.5rem;
    width: 3.5rem;
    background-color: transparent;
    /*Code pour faire le bouton du menu version mobile*/
    background-image: linear-gradient(to right, #333, #333), linear-gradient(to right, #333, #333), linear-gradient(to right, #333, #333);
    background-position: center top, center, center bottom;
    background-repeat: no-repeat;
    background-size: 3.5rem .9rem;
    padding: 0;
    outline: 0;
    border: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); } }
* {
  box-sizing: border-box; }

/*Pour regler la taille de la police du menu */
html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  font-family: arial, sans-serif; }

/*Style pour le menu*/
nav a {
  display: block;
  padding: .7em;
  margin-bottom: 2px;
  text-decoration: none; }

/*div pour la taille maximum et minimum du menu*/
#bloc_page {
  max-width: 900px;
  margin: auto;
  min-width: 320px; }

header {
  position: relative; }

img {
  
  width: 50px;
  height: 50px;
}

/*Taille de l'image qui se trouve dans le menu*/
.img {
  height: 50px;
  line-height: 2em; }

/*Gere la phrase juste avant la video*/
.tuto2 {
  font-size: xx-large;
  line-height: 100px;
  text-shadow: -1px -1px #fb6, 1px 1px #d60, -3px 0 4px #000;
  font-family: "Segoe print", Arial, Helvetica, sans-serif;
  color: #FF9933;
  padding: none;
  font-weight: lighter;
  }

.tuto3 {
  font-size: x-large;
  line-height: 150px;
  text-shadow: -1px -1px #fb6, 1px 1px #d60, -3px 0 4px #000;
  font-family: "Sergoe print", Arial, Helvetica, sans-serif;
  color: #FF9933;
  padding: none;
  font-weight: lighter; }

  a {
  font-size: x-large;
  line-height: 150px;
  text-shadow: -1px -1px #fb6, 1px 1px #d60, -3px 0 4px #000;
  font-family: "Sergoe print", Arial, Helvetica, sans-serif;
  color: #FF9933;
  padding: none;
  font-weight: lighter; }

footer {
  text-align: center;
  color: white; }

/*Style pour le Menu du site(color, marges, etc...*/
#menu {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

/*inscription.html*/
.table_inscription {
  width: 43.75%;
  margin-left: 33.875%;
  padding: 30px;
  max-width: 100%;
  vertical-align: top;
  overflow-x: auto;
  white-space: nowrap;
  display: inline-block;
  color:white; }
  .table_inscription tr {
    display: flex;
    flex-direction: column;
    font-family: Trebuchet MS, sans-serif;
    color:white; }
    .table_inscription tr td input#Pseudo {
      color:white;
      margin-left: 16.5%; }
    .table_inscription tr td input#login {
      color:white;
      margin-left: 3.5%; }
    .table_inscription tr td input#pass {
      color:white;
      margin-left: 1%; }

.btn_inscription {
  width: 43.75%;
  margin-left: 48.25%; }

/*listes.html*/
.listes_cadeau {
  width: 83.75%;
  margin-left: 16%;
  max-width: 100%;
  vertical-align: top;
  overflow-x: auto;
  white-space: nowrap;
  display: inline-block;
  border-radius: 2px; }
  .listes_cadeau tr {
    background-color: white; }
  .listes_cadeau tr:nth-child(even) {
    background-color: #f2f2f2; }
  .listes_cadeau th {
    background-color: #c00;
    color: white;
    font-size: 18pt;
    text-shadow: 1px 1px #fb6, 1px 1px #d60, 3px 0 4px #000; }
  .listes_cadeau td, .listes_cadeau th {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left; }
  .listes_cadeau td {
    font-family: Trebuchet MS, sans-serif; }
  .listes_cadeau td img {
    width: 20px;
    height: 20px;
    margin: 5px; }

.ajouter_liste {
  width: 43.75%;
  margin-left: 42.5%;
  padding-top: 30pt;
  padding-bottom: 0pt;
  /*modif*/ }
  .ajouter_liste .btn_liste {
    background: #ff8400;
    background-image: -webkit-linear-gradient(top, #ff8400, #cf5300);
    background-image: -moz-linear-gradient(top, #ff8400, #cf5300);
    background-image: -ms-linear-gradient(top, #ff8400, #cf5300);
    background-image: -o-linear-gradient(top, #ff8400, #cf5300);
    background-image: linear-gradient(to bottom, #ff8400, #cf5300);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none; }
  .ajouter_liste .btn_liste:hover {
    background: #ffe978;
    background-image: -webkit-linear-gradient(top, #ffe978, #f74e00);
    background-image: -moz-linear-gradient(top, #ffe978, #f74e00);
    background-image: -ms-linear-gradient(top, #ffe978, #f74e00);
    background-image: -o-linear-gradient(top, #ffe978, #f74e00);
    background-image: linear-gradient(to bottom, #ffe978, #f74e00);
    text-decoration: none; }

#menu li {
  width: 150px;
  margin-right: 0px;
  color: #fff;
  background: #c00;
  width: 49.6470588235%;
  margin-left: 0.2352941176%;
  /*Utilisation de grilles pour le placement des elements*/
  margin-left: 0px;
  text-align: center; }

#menu li a {
  display: block;
  background: #c00;
  color: #fff;
  font: 1em "Trebuchet MS", Arial, sans-serif;
  line-height: 3em;
  padding: 4px 0 0;
  height: 50px;
  position: relative;
  font-family: Verdana, sans-serif;
  margin-left: 0px;
  text-align: center; }

#menu li a::before {
  position: absolute;
  left: 50%;
  bottom: 9px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center; }

#menu li a:hover::before, #menu li a:focus::before {
  background: white;
  box-shadow: 0 0 2px white, 0 -1px 0 rgba(0, 0, 0, 0.4);
  text-align: center; }

#menu li a:hover, #menu li a:focus, #menu li a:active {
  background: #900;
  text-decoration: underline; }

/*Texte*/
.GrilleResume {
  width: 87.0588235294%;
  margin-left: 6.4705882353%;
  height: auto;
  width: auto;
  color: white;
  padding: 10px 20px 0 20px;
  display: flex;
  border-bottom: 1px solid #d8d8d8; }

/*Placement de la video*/
.video {
  width: 62.1176470588%;
  margin-left: 18.9411764706%;
  width: 800px;
  height: 500px;
  background: black;
  display: flex; }

/*Placement du titre*/
.info {
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: x-large;
  font-style: normal; }

.form {
  width: 31.25%;
  margin-left: 34.375%;
  padding: 20px; }

.text {
  font-family: Verdana, sans-serif;
  font-size: x-large;
  font-style: normal;
  color: white; }

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px; }

div.tuto2 {
  width: 43.75%;
  margin-left: 39.625%; }

/*Partie g├®rant les boutons du menu*/
.btn {
  width: 12.5%;
  margin-left: 42.5%;
  background: #ff8400;
  background-image: -webkit-linear-gradient(top, #ff8400, #cf5300);
  background-image: -moz-linear-gradient(top, #ff8400, #cf5300);
  background-image: -ms-linear-gradient(top, #ff8400, #cf5300);
  background-image: -o-linear-gradient(top, #ff8400, #cf5300);
  background-image: linear-gradient(to bottom, #ff8400, #cf5300);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none; }

.btn:hover {
  background: #ffe978;
  background-image: -webkit-linear-gradient(top, #ffe978, #f74e00);
  background-image: -moz-linear-gradient(top, #ffe978, #f74e00);
  background-image: -ms-linear-gradient(top, #ffe978, #f74e00);
  background-image: -o-linear-gradient(top, #ffe978, #f74e00);
  background-image: linear-gradient(to bottom, #ffe978, #f74e00);
  text-decoration: none; }

/*# sourceMappingURL=menu.css.map */
